* {
    cursor: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
}
@font-face {
    font-family: 'HSBombaram';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HANBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    /* border: 1px solid gray; */
    position: fixed;
    pointer-events: none;
    transition: transform 0.2s ease;
    transform: translate(-50%, -50%);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    mix-blend-mode: difference;
}
.cursor.hoverd {
    width: 60px;
    height: 60px;
    /* background-color: rgba(0,0,0,0.8); */
}
